---
---

<footer class="p-10">
  <hr class="py-6" />
  <p class="text-xs">
    Tutti i contenuti presenti in questo sito sono di proprietà di Bu-Sen milano. Eventuali eccezioni vengono
    esplicitate. Tutti i diritti sono riservati. Tutti i contenuti, marchi, logo, icone, testi, ecc. di questo sito sono
    di proprietà di Bu-Sen milano e sono disciplinati e protetti dalle leggi italiane e internazionali sul diritto
    d’autore. Per info e chiarimenti scrivere a infobusenmilano@gmail.com
  </p>
</footer>
