---
import { Picture } from '@astrojs/image/components';

export interface Props {
  title?: string;
  image?: string | any;
  titleImage?: string | any;
}

const {
  title = await Astro.slots.render('title'),
  menu = await Astro.slots.render('menu'),
  image = await Astro.slots.render('image'),
  titleImage = await Astro.slots.render('titleImage'),
} = Astro.props;
---

<section class="relative md:-mt-[76px]">
  <div class="absolute inset-0 pointer-events-none" aria-hidden="true"></div>
  <div class="relative max-w-7xl mx-auto px-4 sm:px-6">
    <div class="pt-0 md:pt-[76px] pointer-events-none"></div>
    <div class="py-12 md:py-20">
      <div class="text-center pb-10 md:pb-16 max-w-screen-lg mx-auto">
        <div class="flex justify-between mb-4">
          {title && <p class="mt-6 text-4xl" set:html={title} />}
          {
            titleImage && (
              <div>
                {typeof titleImage === 'string' ? (
                  <Fragment set:html={titleImage} />
                ) : (
                  <Picture
                    class="mx-auto rounded-md"
                    widths={[100]}
                    sizes="100px"
                    fit="inside"
                    aspectRatio="1:1"
                    loading="eager"
                    width={100}
                    height={100}
                    {...titleImage}
                  />
                )}
              </div>
            )
          }
        </div>
        <div>
          {
            image && (
              <div class="relative m-auto max-w-5xl">
                {typeof image === 'string' ? (
                  <Fragment set:html={image} />
                ) : (
                  <Picture
                    class="mx-auto rounded-md w-full"
                    widths={[400, 768, 1024, 2040]}
                    sizes="(max-width: 767px) 400px, (max-width: 1023px) 768px, (max-width: 2039px) 1024px, 2040px"
                    aspectRatio={960 / 174}
                    loading="eager"
                    width={960}
                    height={174}
                    {...image}
                  />
                )}
              </div>
            )
          }
        </div>
        <div class="max-w-7xl mx-auto">
          {menu && <p class="text-xl text-muted mb-6 dark:text-slate-300" set:html={menu} />}
        </div>
      </div>
    </div>
  </div>
</section>
