---
import { SITE } from '~/config.mjs';
import Layout from '~/layouts/BaseLayout.astro';
import Header from '~/components/widgets/Header.astro';
import { headerData } from '~/data';

import Hero from '~/components/widgets/Hero.astro';

const meta = {
  title: SITE.title,
  description: SITE.description,
  dontUseTitleTemplate: true,
};
---

<Layout {meta}>
  <!-- Hero Widget ******************* -->
  <Hero
    titleImage={{ src: import('~/assets/images/logobusen.png') }}
    image={{ src: import('~/assets/images/busenmilano-index.jpg'), alt: 'BuSen Milano' }}
  >
    <Fragment slot="title">
      <span class="text-[#89493d] font-semibold">Bu-Sen</span>
      <span class="text-2xl text-[#666]"> Milano</span>
    </Fragment>

    <Fragment slot="menu">
      <Header {...headerData} />
    </Fragment>
  </Hero>
</Layout>
